In [1]:
x = 1
y = 2
print(x + y)

3

In [2]:
def add_numbers(x, y):
    return x+y

add_numbers(1,2)

3

In [3]:
def add_numbers(x, y, z = None):
    if (z == None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [4]:
def add_numbers(x, y, z = None, flag = False):
    if (flag):
        print('Flag is true')
    if(z == None):
        print(x + y)
    else:
        print(x + y + z)

add_numbers(1,2,flag=True)

Flag is true
3

In [5]:
def add_numbers(x,y):
    return x+y

a = add_numbers(1,2)
print(a)

3

In [6]:
type('This is a string')

str

In [7]:
type(None)

NoneType

In [8]:
type(add_numbers)

function

In [9]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [10]:
x = [1, 'a', 2, 'b']
type(x)

list

In [11]:
x.append(3.3)

In [12]:
print(x)

[1, 'a', 2, 'b', 3.3]

In [14]:
for item in x:
    print(item)

1
a
2
b
3.3

In [15]:
i = 0
while (i != len(x)):
    print(x[i])
    i += 1

1
a
2
b
3.3

In [16]:
[1,2]+[3,4] #Using + to concatenate lists

[1, 2, 3, 4]

In [17]:
[1] * 2

[1, 1]

In [18]:
1 in [1,2,3]

True

In [19]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [20]:
x[-1]

'g'

In [21]:
x[::-1]

'gnirts a si sihT'

In [22]:
x[:3]

'Thi'

In [25]:
firstname = "Christop arth hansen brok".split(' ')[0]
lastname = "Chris a aif eiuiff".split(' ')[-1]
print(firstname)
print(lastname)

Christop
eiuiff

In [26]:
'Chris' + str(2)

'Chris2'

In [29]:
x = {'Elon Musk': 'musk@tesla.com', 'Bill Gates': 'billg@microsoft.com'}
x['Elon Musk']
x['John Kenney'] = None
for name in x:
    print(x[name])

musk@tesla.com
billg@microsoft.com
None

In [30]:
for email in x.values():
    print(email)

musk@tesla.com
billg@microsoft.com
None

In [32]:
for name, email in x.items():
    if(email and name):
        print("The email of "+name+" is "+email)

The email of Elon Musk is musk@tesla.com
The email of Bill Gates is billg@microsoft.com

In [33]:
x = ('fn', 'whdfnw', 'whdfbh@gmail.com')
fn, ln, email = x

In [34]:
fn

'fn'

In [35]:
ln

'whdfnw'

In [36]:
email

'whdfbh@gmail.com'

In [39]:
x = ('Nassim', 'Sohaee', 'sohaee@utdallas.edu', 'Dallas')
fname, lname, email = x #throws error

ValueError: too many values to unpack (expected 3)

In [40]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Jack'}

In [41]:
sales_record

{'num_items': 4, 'person': 'Jack', 'price': 3.24}

In [43]:
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'
print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items']*sales_record['price']))

Jack bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [44]:
import datetime as dt
import time as tm

In [45]:
tm.time()

1519245015.2509797

In [46]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 2, 21, 14, 30, 33, 297638)

In [47]:
dtnow.year, dtnow.month, dtnow.day, dtnow.minute

(2018, 2, 21, 30)

In [48]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(100)

In [49]:
today = dt.date.today()
today - delta

datetime.date(2017, 11, 13)

In [50]:
today < today-delta

False

In [51]:
class Person:
    department = 'Info tech'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [52]:
person = Person()
person.set_name('John Doe')
person.set_location('Dalls, TX, USA')
print('{} lives in {}'.format(person.name, person.location))

John Doe lives in Dalls, TX, USA

In [53]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2) #min between each value of store1 and store2
cheapest

In [54]:
for a in cheapest:
    print(a)

9.0
11.0
12.34
2.01

In [1]:
import pandas as pd

In [2]:
animals = ['Tiger', 'bear', 'Mosse']
pd.Series(animals)

0    Tiger
1     bear
2    Mosse
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
import numpy as np
np.isnan(np.nan)

True

In [60]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [61]:
s.iloc[3]

'South Korea'

In [62]:
s.loc['Taekwondo']

'South Korea'

In [64]:
s['Golf']

'Scotland'

In [65]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [66]:
np.sum(s)

324.0

In [67]:
s = np.random.randint(0,1000,10000)
s = pd.Series(s)
s.head()

0    821
1      2
2     87
3    757
4    520
dtype: int32

In [71]:
# for val in s.values():
#     s.set_value(val+2)
# s.head()

In [72]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [73]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [74]:
df.loc['Store 2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [75]:
df.iloc[2]

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [76]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [77]:
df[['Cost', 'Name']]

         Cost   Name
Store 1  22.5  Chris
Store 1   2.5  Kevyn
Store 2   5.0  Vinod

In [78]:
df.drop('Store 1')

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [5]:
x = pd.Series([1,2,None,None,4,None,5])

In [6]:
x

0    1.0
1    2.0
2    NaN
3    NaN
4    4.0
5    NaN
6    5.0
dtype: float64

In [7]:
x.interpolate()

0    1.000000
1    2.000000
2    2.666667
3    3.333333
4    4.000000
5    4.500000
6    5.000000
dtype: float64

In [10]:
x.interpolate(method="values")

0    1.000000
1    2.000000
2    2.666667
3    3.333333
4    4.000000
5    4.500000
6    5.000000
dtype: float64

In [5]:
a = np.random.randn(3,3)
b = np.random.randn(3,1)

In [6]:
a*b

array([[-0.41224155,  3.52567265,  1.49326324],
       [-0.53248164,  0.0655031 ,  0.46451506],
       [-0.04506801,  0.06172807,  0.21954389]])

In [7]:
A = np.random.randn(4,3)

In [8]:
B = np.sum(A, axis=1, keepdims=True)

In [10]:
B.shape

(4, 1)